{% extends "base.html" %}
{% load i18n %}


{% block title %}TOUGH{% endblock %}

{% block styles %}
<style type="text/css">
	#login_form{
		padding: 2em 2em 2em 2em;
		background-color: #FFF7DC;
		border: 5px solid #114766;
		border-radius: 10px;
		-moz-border-radius: 10px;
		width: 400px;
		text-align: center;
	}
	#main{
		width: 620px;
		padding: 0 40px 40px 10px;
		margin-left: 290px;
	}
	#sidebar p{
		color: #444;
	}
	p{
		font-size: .9em;
	}
	p.exhort{
		font-weight: bold;
	}
	p.errornote{
		color: red;
	}
	p.warning{
		text-align: left;
	}
</style>

{% endblock %}

{% block h1 %}{{ APP_NAME }}{% endblock %}

{% block sidebar %}
<p>This is a good place to put some info about your app, for users who are not yet logged in.</p>


{% endblock %}

{% block content %}

{% if form.errors %}
<p class="errornote">Your username and password didn't match. Please try again.</p>
{% else %}

<p>Welcome!</p>
{% endif %}
<div id="login_form">
	<p class="exhort">Log into this application with your <a href="http://nim.nersc.gov">NIM</a> username and password.</p>
<form method="post" action="{% url 'login.views.login_view' %}">{% csrf_token %}

  <div class="form-row">
    <p>{{ form.username.label_tag }}
    {{ form.username }}</p>
  </div>
  <div class="form-row">
    <p>{{ form.password.label_tag }}
    {{ form.password }}</p>
  </div>
  <div class="submit-row">
    <input type="image" src="{{TOUGH_STATIC_SUBDIR}}/login/images/logintoNOVA.png" alt="Login to NOVA" onclick="$('#login-loader').show();"/>
    <input type="hidden" name="next" value="{{ next }}" />
  </div>  

</form>
<div id="login-loader" style="display:none"><img align="absmiddle" alt="" src="{{TOUGH_STATIC_SUBDIR}}/main/images/ajax-loader-FFF7DC.gif" /> Authenticating</div>	

</div>

{% endblock %}

