.container{
    width:1200px;
}
.login{
    float:right;
    font-size: 20px;
    padding:10px 20px 10px;
    text-decoration: none;
}
.login:hover{
    text-decoration: none;
}
.error{
    color:red;
}
.well{
    margin-top:20px;
    padding:10px 0;
}
.nav-list li{
	word-wrap: break-word;
}
.loader{
    display:none;
}
.dropdown-menu li{
    padding-left:10px;
}
footer{
    bottom:0;
    right:0;
    left:0;
    text-align:center;
    padding:0.5em 2em;
}
.icon{
    width:40px;
}