.login{
    float:right;
    font-size: 20px;
    padding:10px 20px 10px;
    text-decoration: none;
}
.login:hover{
    text-decoration: none;
}
th{
    border-bottom:2px solid black;
}
table{
    width:100%;
}
td{
    border-bottom:1px solid lightgray;
    padding:10px;
}
tr:hover{
    opacity:0.8;
    color:black;
}
.row-fluid{
    padding-bottom: 50px;
}
.tablelinks{
    color:black;
}
.tablelinks:hover{
    text-decoration: none;
    color:black;
}
h2{
    color:steelblue;
}
.well{
    margin-top:20px;
    padding:10px 0;
}