{% extends "base.html" %}

{%block head %}
    <meta charset="UTF-8">
    <title>Page Does Not Exist</title>
    <style type="text/css">
        body{
            background-color: #EEEEEE;
        }
        .content .bigtext{
            text-align: center;
            font-size: 50px;
        }
        .content p{
            text-align: center;
            font-size: 1.5em;
            padding:50px;
            line-height: 1.3em;
        }
        .content p a{
            color: orange;
        }
        .content p a:hover{
            text-decoration:none;
            color:orange;
            opacity:0.6;
        }
        .content #tear{
            color:blue;
            font-family:georgia, serif;
        }
        .icon{
            width:40px;
        }
        footer{
            text-align:center;
        }
        #references{
            text-align:left;
        }
    </style>
{%endblock head%}

{%block content%}
    <div class="row-fluid content">
        <h1 class = "bigtext">Error 404: TOUGH luck</h1>
        <p>
            Sorry, this page does not exist. Your page may have been consumed by the <a target="_blank" href="https://www.nersc.gov/users/data-and-file-systems/file-systems/global-scratch/">scratch monster</a><sup>[1][2]</sup> on Hopper, or <a href="/" id = "home">click here</a> to return to the homepage.   
        </p>     
        <p class = "bigtext">
            <strong>:<span id = "tear">'</span>(</strong>
        </p>
    </div>
    <footer>
        <div id="references">
            <ol>
                <li>fictional monster </li>
                <li>see "Purging"</li>
            </ol>
        </div>
        <p>
            &copy; Team Albatross<img src="/static/img/albatross.png" class="icon" alt="">, 2013. All rights reserved 
        </p>
    </footer>
{% endblock %}