<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>TOUGH</title>
	<link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<script src="/static/js/jquery.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">

	{% block head %}
		
	{% endblock head %}
</head>
<body>
	<div class = "navbar ">
		<div class = "navbar-inner">
			<a href = "/" class = "brand">TOUGH</a>
			<ul class = "nav">
				<li><a href="/job">Manage Jobs</a></li>
				<li class = "dropdown">
					<a class = "dropdown-toggle" data-toggle = "dropdown" href="#">Recent Jobs <b class = "caret"></b></a>
					<ul class = "dropdown-menu">
						<li><a href="#">Job 1</a></li>
						<li><a href="#">Job 2</a></li>
						<li><a href="#">Job 3</a></li>
						<li><a href="#">Job 4</a></li>
						<li><a href="#">Job 5</a></li>
					</ul>
				</li>
				<li><a href="http://esd.lbl.gov/files/research/projects/tough/documentation/TplusH_Manual_v1.pdf" target = "_blank">TOUGH Manual</a></li>
				<li><a href="/about/">About Project</a></li>
				<li><a href="#">Report an error</a></li>
			</ul>
			<a href = "#" class = "login"> Login </a>
		</div>
	</div>
	
	<div class = "container">
		{% block content%}
		
		{% endblock content%}
	</div>
	
</body>
</html>