<form id="batch_form" action = "{% url 'tough.views.ajax_save' jobid=job_id %}" method="POST" class = "form-horizontal">
    {% csrf_token %}
    <input type = "hidden" name = "blockType" value = "batch" />
    <input id = "#batchjobdir" type = "hidden" name = "jobdir" value = "">
    {%for field in job.get_comp_settings_form%}
        <div class="control-group">
            <label for="id_{{field.html_name}}" class="control-label">{{field.label}}</label>
            <div class="controls">
                {{ field }}                 
            </div> 
        </div>
    {%endfor%}
    <div class="control-group">
        <div class="controls">
            <input type="hidden" id="jobid" name="jobid" value="{{ job_id }}" />
            <input class="btn btn-primary" type="submit" />
            <button class="btn" type="button" id='cancel'>Cancel</button>                
        </div>
    </div>
</form>
            