{% load var_filters %}

<div class = "span10 inputarea blockinputarea" id = "{{block.blockType.tough_name}}">
    <ul class = "nav nav-tabs">
        <li data-input-type="guided"><a onclick = "parse_raw_for_varvals('{{block.blockType.tough_name}}')" href="#{{block.blockType.tough_name}}-guided" data-toggle = "tab">Guided</a></li>
        <li data-input-type="raw" class = "active"><a onclick = "recreate_raw('{{block.blockType.tough_name}}')" href="#{{block.blockType.tough_name}}-raw" data-toggle = "tab">Raw Text</a></li>
        <li class="importinputtab" data-input-type="import"><a href="#{{block.blockType.tough_name}}-import" data-toggle = "tab">Import from another job</a></li>
    </ul>
    <div class = "tab-content">
        <div class = "tab-pane" id = "{{block.blockType.tough_name}}-guided">
            {% for namelist in block.blockType.get_name_list_dict.keys %}
                <p>
                    <h4>{{namelist}}</h4>
                    {% for var in namelist|get_vars:block %}
                    <p>
                        {% if var.commented %}
                            {{var.var_name}}: <input data-namelist = "{{var.name_list}}" type = "text" id = "{{var.var_name}}" class = "varvals" disabled = "disabled"/>
                            Comments: <input type = "text" id = "{{var.var_name}}-comments" class = "comments" disabled = "disabled"/>
                        {% else %}
                            {{var.var_name}}: <input data-namelist = "{{var.name_list}}" type = "text" id = "{{var.var_name}}" class = "varvals"/>
                            Comments: <input type = "text" id = "{{var.var_name}}-comments" class = "comments"/>
                        {% endif %}
                    </p>
                    {% endfor %}
                </p>
            {% endfor %}
            <div>
                Loose Inputs: <textarea id = "{{block.blockType.tough_name}}-looseinput" class = "others"> </textarea>
                Other comments: <textarea id = "{{block.blockType.tough_name}}-comments" class = "others"> </textarea>
            </div>
            <button class="btn btn-primary saveguided" data-blockname = "{{block.blockType.tough_name}}"> Save </button>
            <button class="btn" type="button" id='cancel'>Cancel</button>
        </div>
        <div class = "tab-pane active" id = "{{block.blockType.tough_name}}-raw">
            <form class="rawtextform" action="{% url 'tough.views.ajax_save' job_id=job_id input_type='raw' %}" method="POST">
                {% csrf_token %}
                <input type = "hidden" name = "blockType" value = "{{block.blockType.pk}}">
                {%for field in block.get_raw_input_form %}
                <div class = "control-group">
                    <div class = "control">
                    {{ field }}
                    </div>
                </div>
                {% endfor %}
            <input type="hidden" id="job_id" name="job_id" value="{{ job_id }}" />
            <input class="btn btn-primary" type="submit" id='saverawblock' value="Save"/>
            <button class="btn" type="button" id='cancel'>Cancel</button>
            </form>
        </div>
        <div class = "tab-pane" id = "{{block.blockType.tough_name}}-import">
            <form class="importblockform" action="{% url 'tough.views.ajax_save' job_id=job_id input_type='import' %}" method="POST">
                {% csrf_token %}
                <input type = "hidden" name = "blockType" value = "{{block.blockType.pk}}">
                <div class = "control-group">
                    {% for field in block.get_import_form %}
                    <div class = "control">
                        {{field}}
                    </div>
                    {% endfor %}
                </div>
                <input type="hidden" id="job_id" name="job_id" value="{{ job_id }}" />
                <input class="btn btn-primary" type="submit" id='saveimportblock' value="Save"/>
                <button class="btn" type="button" id='cancel'>Cancel</button>
            </form>
        </div>
    </div>
</div>