<style type = "text/css">
#id_mesh{
	line-height:0px !important;
}
</style>
<script type = "text/javascript">
$('#fileuploadform').submit(function(e){
    e.preventDefault();
    var formData = new FormData($('#fileuploadform')[0]);
    $.ajax({
        url: $("#fileuploadform").attr("action"),  //server script to process data
        type: 'POST',
        //Ajax events
        beforeSend: function(){
            Alertify.log.info("Uploading and parsing file...");
        },
        success: function(response){
            if(response.success){
                window.location.href = response.redirect;
            }else{
                Alertify.log.error("Something went wrong when parsing. Please try again.");
            }
        },
        // Form data
        data: formData,
        //Options to tell JQuery not to process data or worry about content-type
        cache: false,
        contentType: false,
        processData: false
    });
});

</script>
<div class="row-fluid">    
    <div class = "span12" id = "fileform">
        <h2>Upload Mesh File</h2>
        <form action = "{% url 'tough.views.file_upload' job_id=job_id file_type=file_type%}" method = "POST" id = "fileuploadform" enctype = "multipart/form-data">
            {% csrf_token %}
            {%for field in job.get_file_upload_form %}
            <div class="control-group">
            <label for = "id_{{field.html_name}}" class = "control-label"></label>
                <div class="controls">
                {{ field }}
                </div>
            </div>                 
            {%endfor%}
            <input type="submit" class = "btn btn-large btn-primary" value="Upload" />
            <a href = "" id = "cancelfile" class = "btn btn-large">Cancel</a>
        </form>
    </div>
</div>