<html>
<head>
	<title>{{title}}</title>
	<link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<script src="/static/js/jquery.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/d3.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">	
	<link rel="stylesheet" type="text/css" href="/static/css/jquery-ui-1.10.3.custom.min.css">
    <script type="text/javascript" src="/static/js/jquery-ui-1.10.3.custom.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/alertify.css"/>
	<link rel="stylesheet" type="text/css" href="/static/css/alertify.bootstrap.css"/>
	<script type = "text/javascript" src = "/static/js/graph.js"></script>
	<script>
		var currentLine;
		var intervalID;
		var graphdata;
		var graphoptions = {{graph_options|safe}};
		var dataX;
		var dataXname;
		var dataY = [];
		var colorsY = new Array();
		var tailing;
		var colors = [
					[0, 'black'],
					[0, 'blue'], 
					[0, 'green'],
					[0, 'purple'],
					[0, 'orange'],
					[0,'red']
					];

		function taildata(){
			$.get($("#tail").attr("href"), {'curr':currentLine}, function(data){
				if(data.success){
					if(data['current_line']!=currentLine){
						currentLine = data['current_line'];
					}
					for (datapoint in data['graph_data']){
						console.log(data['graph_data'][datapoint][dataX]);
					}
					graphdata = graphdata.concat(data['graph_data']);
					rescaleY();
					rescaleX();
					$(".line").remove();
					graphData();
				}
			});
		}

		$(document).ready(function(){
			$("#y_axis_select").hide();
			$("#y_axis_select_well").hide();
			graphdata = {{graph_data}};
			currentLine = {{current_line}};
			var option;
			tailing = false;
			for (var x in graphoptions){
				option = graphoptions[x];
				$("#x_axis_select").append("<option value="+x+" id='"+option+"'>"+option+"</option>");
			}
			for (var y in graphoptions){
				option = graphoptions[y];
				$("#y_axis_select").append("<li id='y_axis_"+y+"'><label class='checkbox'><input class='y_axis_check' type='checkbox' value="+y+" data-color=''>"+option+"</input></label></li>");
			}
			$("#x_axis_select").change(function(e){
				e.preventDefault();
				dataX = $(this).val();
				dataXname = $(this).children(":selected").attr("id");
			});
			$(".y_axis_check").click(function(e){
				console.log("Starting dataY: " + dataY.length);
				if($(this).is(":checked")){
					if(dataY.length <= colors.length){
						for (color in colors){
							if (colors[color][0] == 0){
								var datacolor = colors[color][1];
								colors[color][0] = 1;
								dataY.push([$(this).val(), datacolor]);
								$(this).parent().css('color', datacolor);
								$(this).parent().attr('data-color-index', color);
								rescaleY();
								$(".line").remove();
								graphData();
								break;
							}
						}
					} else {
						e.preventDefault();
					}
					// $(this).parent().attr("data-color", colors[0]);
					
				}else{
					for (array in dataY){
						if (dataY[array].indexOf($(this).val()) >= 0){
							colors[$(this).parent().attr('data-color-index')][0] = 0;
							dataY.splice(array, 1);
							$(this).parent().css('color', 'grey');
							$(".graph_"+$(this).val()).remove();
							$(".line").remove();
							rescaleY();
							graphData();
							break;
						}
					}
					
				}
			})
			$("#graph_submit").click(function(e){
				$("#graph").children().remove();
				$("#y_axis_select_well").show();
				$("#y_axis_select").show();
				$("#y_axis_"+dataX).hide();
				setupGraph();
			});
			$("#tail").click(function(e){
				console.log("tailing clicked");
				e.preventDefault();
				if (tailing){
					tailing = false;
					intervalID = clearInterval(intervalID);
					$("#updateStat").text("Off").removeClass("off").addClass("on");					
					$(this).removeClass("btn-danger");
					$(this).addClass("btn-primary");
					$(this).text("Auto Update On");					
				} else {
					taildata();
					tailing = true;
					intervalID = setInterval(function(){
						taildata();
					}, 15000);
					$("#updateStat").text("On").removeClass("on").addClass("off");
					$(this).removeClass("btn-primary");
					$(this).addClass("btn-danger");
					$(this).text("Auto Update Off");
				}
			});
		});

	</script>
	<style type="text/css">
	#tail{
		margin:7px;
		text-align:center;
		float:right;
	}
	#info{
		float:left;
		padding:7px;
	}
	.axis_select{
		margin: 7px;
	}
	.btn{
		margin: 7px;
	}
	#content{
		margin-top:50px;
		margin-left:20px;
		margin-right:20px;
	}
	#updateDur{
		height:24px !important;
		margin:0;
		text-align:center;
		padding:0;
	}
	.plot{
		opacity:0;
	}
	.on{
		color:green;
	}
	.off{
		color:red;
	}
	.axis path, .axis line {
		fill:none; 
		stroke: black;
		shape-rendering: crispEdges;
	}
	.axis text {
		font-size: 11px;
		stroke: black;
	}
	.tick.major{
		stroke: lightgrey;
		opacity: 0.7;
	}
	.graph path {
		stroke-width: 0;
	}
	svg{
		padding: 10px;
	}
	ul{
    list-style-type: none;
	}
	.tailing{
		margin:7px;
		text-align:center;
		float:right;
	}
	.checkbox{
		color:grey;
	}
	li.nav-header{
		color:grey !important;
	}
	</style>
</head>
<body>
	<div class="navbar row-fluid">
		<div class="navbar-inner">
			<div id="options">
				<select id="x_axis_select" class = "axis_select">
					<option selected="selected" class="xoption">Select x axis</option>
				</select>
<!-- 				<select id="y_axis_select" class = "axis_select">
					<option selected="selected">Select y axis</option>
				</select> -->
				<button class="btn btn-primary" id="graph_submit">Generate Graph</button>
					<a id="tail" class="btn btn-primary" href="{% url 'tough.views.update_graph' job_id=job_id filepath=filepath %}">Auto Update On</a>	
			</div>	
		</div>
	</div>
	<div class = "row-fluid" id = "content">
		<div class = "span3 well" id="y_axis_select_well">
			<ul id="y_axis_select" class = "nav nav-list">
				<li class = "nav-header">Y-axis:</li>
			</ul>
		</div>
		<div id="graph" class = "span8">
		</div>
	</div>
</body>
</html>