{% extends "base.html" %}

{%block content %}
<div class = "row-fluid">
    <div class = "span2">
        <ul class = "nav nav-list">
            <li class = "nav-header">Required Information</li>
            <li class = "active"><a href="#">Directory Setup</a></li>
            <li class = "nav-header">Required Blocks</li>
            <li class = "disabled"><a href="#">Block 1</a></li>
            <li class = "disabled"><a href="#">Block 2</a></li> 
            <li class = "disabled"><a href="#">Block 3</a></li> 
            <li class = "disabled"><a href="#">Block 4</a></li>
            <li class = "disabled"><a href="#">Block 5</a></li>
            <li class = "nav-header"> Optional Blocks</li>
            <li class = "disabled"><a href="#">Block 1</a></li>
            <li class = "disabled"><a href="#">Block 2</a></li> 
            <li class = "disabled"><a href="#">Block 3</a></li> 
            <li class = "disabled"><a href="#">Block 4</a></li>
            <li class = "disabled"><a href="#">Block 5</a></li>
        </ul>
    </div>
    <div class = "span10" display = "hidden">
        <ul class = "nav nav-tabs">
            <li class = "active"><a href="#tab1" data-toggle = "tab">Guided</a></li>
            <li><a href="#tab2" data-toggle = "tab">Raw Text</a></li>
        </ul>
        <div class = "tab-content">
            <div class = "tab-pane active" id = "tab1">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nisi ligula, varius sit amet convallis eget, ullamcorper vitae lorem. Ut ultricies erat turpis, quis eleifend ante ultrices id. Donec ut est venenatis, viverra enim nec, placerat quam. Duis hendrerit fringilla dolor id fringilla. Nulla facilisi. Proin aliquet nisi ultricies, luctus lacus in, sodales felis. Aenean quis ullamcorper est, ac gravida nunc. Phasellus nunc diam, vehicula quis tortor et, facilisis pellentesque dui. Praesent eleifend lorem nec odio pulvinar commodo. Integer at condimentum justo, ac placerat libero.
                </p>
            </div>
            <div class = "tab-pane" id = "tab2">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nisi ligula, varius sit amet convallis eget, ullamcorper vitae lorem. Ut ultricies erat turpis, quis eleifend ante ultrices id. Donec ut est venenatis, viverra enim nec, placerat quam. Duis hendrerit fringilla dolor id fringilla. Nulla facilisi. Proin aliquet nisi ultricies, luctus lacus in, sodales felis. Aenean quis ullamcorper est, ac gravida nunc. Phasellus nunc diam, vehicula quis tortor et, facilisis pellentesque dui. Praesent eleifend lorem nec odio pulvinar commodo. Integer at condimentum justo, ac placerat libero.
                    </br>
                    Cras fermentum in tellus sed varius. Proin dictum consequat quam, id venenatis lectus fringilla ac. Quisque aliquam, orci nec congue dapibus, sem turpis posuere sem, vitae ultricies felis risus non massa. Nullam ut varius metus. Ut interdum accumsan eleifend. Morbi mi ligula, dictum vel condimentum ut, ultrices id orci. Curabitur vel sapien ultricies, laoreet tortor a, congue sem. Etiam vel mauris arcu. Sed iaculis nulla ut felis molestie, eget lacinia sapien convallis. Duis dictum enim ac iaculis gravida. Integer iaculis tristique enim, vel luctus lectus rhoncus eget. Sed id arcu nisl. In hac habitasse platea dictumst. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet vehicula eros. Nulla facilisi.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}    