{% extends "base.html" %}

{% block head %}

    <link rel="stylesheet" type="text/css" href="/static/css/jquery-ui-1.10.3.custom.min.css">
    <script type="text/javascript" src="/static/js/jquery-ui-1.10.3.custom.min.js"></script>
    <style type="text/css">
        thead tr th{
            text-align: center !important;
            background-color: #CCCCCC !important;
        }
        tbody tr td{
            width:260px;
        }
        table{
            border-spacing: 0 !important;
        }
        .job_id, .time, .state, .numprocs, .jobname{
            text-align: center !important;
        }
        tr.project-name th{
            font-size:0.9em;
            padding:0 1em !important;
            background-color: #EEEEEE !important;
        }
        #nojobs tr td{
            background-color: #EEEEEE !important;
            height:100px;
            text-align: center;
            font-size:1.3em;
            vertical-align: middle;
        }
        .span2.well{
            margin-top:0;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function(){
            $(".del").click(function(e){
                e.preventDefault();
                var url = $(this).attr("href");
                Alertify.dialog.confirm("Are you sure you want to delete this job? This operation is irreversable", 
                    function(){
                        Alertify.dialog.confirm("Do you want to delete the associated job files?", 
                            function(){
                                console.log(url);
                                $.post(url, {"files": true}, function(data){
                                    window.location.reload();
                                    return false;
                                });
                            }, 
                            function(){
                                $.post(url, function(data){
                                    window.location.reload();
                                    return false;
                                });
                            }
                        );
                    }, 
                    function(){
                        return false;
                    }
                );
            });
            $("#projectbar a").click(function(e){
                e.preventDefault();
                if($(this).parent(".disabled").length == 0){
                    $("#projectbar .active").removeClass("active");
                    $(this).parent("li").addClass("active");
                    var curr = $(this).attr("href");
                    if(curr != "#show"){
                        $(".project:not('"+curr+"')").hide()
                        $(curr).show(500);
                    } else{
                        $(".project").show(500);
                    }
                }
                return false;
            });
        });
    </script>
{% endblock head %}

{% block content %}
    <div class = "row-fluid">
        <div class = "span2 well">
            <ul class = "nav nav-list">
                <li class="nav-header">Options</li>
                <li><a href="{% url 'tough.views.create_job' %}" class="popup">Create Job</a></li>
                <li><a href="#">Import Job</a></li>
                <li><a href="{% url 'tough.views.create_project' %}" class = "popup">Create Project</a></li>
            </ul>
            <ul class="nav nav-list" id = "projectbar">
                <li class="nav-header">Projects</li>
                {% if user.get_projects %}
                    <li class="active"><a href="#show">Show All</a></li>
                {% endif %}
                {% if user.get_orphan_jobs %}
                    <li><a href="#project-ungrouped">Ungrouped</a></li>                    
                {% endif %}
                <li class="divider"></li>
                {% for project in user.get_projects %}
                    <li><a href="#project-{{project.pk}}">{{project.name}}</a></li>
                {% endfor %}
                {% if not user.get_projects %}
                    <li class="disabled"><a>No Projects</a></li>
                {% endif %}
            </ul>
        </div>
        <div class = "span10">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Job Name</th>
                        <th>Processors</th>
                        <th>PBS Job ID</th>
                        <th>Time Queued</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                {% for project in user.get_projects %}
                    <tbody id="project-{{project.pk}}" class = "project">
                        <tr class="project-name">
                            <th colspan="6"><strong>{{project.name}} |</strong><a href="{% url 'tough.views.project_view' project_id=project.pk %}"><small> Edit</small></a></th>
                        </tr>   
                        {% for job in project.job_set.all %}
                            <tr>
                                <td class="name"><a href="{% url 'tough.views.job_edit' job.pk %}">{{job.jobname}}</a></td>
                                <td class="numprocs">{{job.numprocs}}</td>
                                <td class="job_id">{{job.pbsjob_id}}</td>
                                <td class="time">{{job.time_started}}</td>
                                <td class="state">{{job.nova_state}}</td>
                                <td>
                                    <div class="btn-group">
                                        <a href="{% url 'tough.views.create_job' 'copy' job.pk %}" class="btn cp popup">Copy</a>
                                        <a href="{% url 'tough.views.create_job' 'move' job.pk %}" class="btn mv popup">Move</a>
                                        <a href="{% url 'tough.views.delete_job' job.pk %}" class="btn del">Delete</a>
                                        <a href = "{% url 'tough.views.job_view' job_id=job.pk %}" class="btn">Details</a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                {% endfor %}
                <tbody id="project-ungrouped" class = "project">
                    {% if user.get_orphan_jobs %}
                    <tr class="project-name">
                        <th colspan="6">Ungrouped</th>
                    </tr>
                    {% endif %}
                    {% for job in user.get_orphan_jobs %}
                        <tr>
                            <td class="name"><a href="{% url 'tough.views.job_edit' job.pk %}">{{job.jobname}}</a></td>
                            <td class="numprocs">{{job.numprocs}}</td>
                            <td class="job_id">{{job.pbsjob_id}}</td>
                            <td class="time">{{job.time_started}}</td>
                            <td class="state">{{job.nova_state}}</td>
                            <td>
                                <div class="btn-group">
                                    <a href="{% url 'tough.views.create_job' 'copy' job.pk %}" class="btn cp popup">Copy</a>
                                    <a href="{% url 'tough.views.create_job' 'move' job.pk %}" class="btn mv popup">Move</a>
                                    <a href="{% url 'tough.views.delete_job' job.pk %}" class="btn del">Delete</a>
                                    <a href="{% url 'tough.views.job_view' job_id=job.pk %}" class="btn">Details</a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
                {% if not user.get_all_jobs %}
                    <tbody id="nojobs">
                        <tr>
                            <td colspan="6">It looks like you don't have any jobs... Click <strong>Create Job</strong> on the sidebar to create a new job.</td>
                        </tr>
                    </tbody>
                {% endif %}
            </table>
        </div>
        
    </div>
{% endblock content %}
