{% extends "base.html" %}

{% block head %}
 <link rel="stylesheet" type="text/css" href="/static/css/jquery-ui-1.10.3.custom.min.css">
<script type="text/javascript" src="/static/js/jquery-ui-1.10.3.custom.min.js"></script>
<style type="text/css"> 

textarea{
    width:auto;
    font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
}

#dirinput, #compSettingsForm{
    padding:2em;
}

#id_max_walltime_0, #id_max_walltime_1{
    width: 65px;
}
[name='rawinput']{
    width:98%;
}
ul{
    list-style-type: none;
}
li{
    word-wrap: break-word;
}
p{
    margin-left:12px;
    margin-bottom:0px;
}
#sidebar a.btn-small{
    display:block;
    margin:5px 15px;
}
#sidebar a.btn-large{
    margin:8px;
}
.upload-info{
    font-size:0.9em;
    padding-left:1em;
}
.upload-info+p{
    font-size:0.8em;
    padding-left:2em;
}
</style>
<script type="text/javascript">

var current_doc;
var newjob;
var homedir;
var scratchdir;
var jobfiles;
var job_id;

function setupBlocks(blockName){
    var block = $("#reqblocks").append("<li></li>");
    $("#reqblocks").children("li").last().attr("id", blockName);
    $("#reqblocks").children("li").last().attr("class", "blockchoice");
    $("#reqblocks").children("li").last().html("<a href=\"#\"" + blockName + ">" + blockName + "</a>");
}

function showRawInput(blockName){

}

function getjobfiles(){

    $.ajax({
        type:'GET',
        url: TOUGH_SUBDIR + '/get_tough_files/' + job_id,

        success: function(data){
            jobfiles = data;
        },
        error: function(err){
            alert("There was a problem getting the input files.");
            $('#fileloader').hide();
        },
    });
}

$(document).ready(function(){    
    $("#compset").removeClass("inputarea").addClass("inputareaactive");
    current_doc = "batch";
    $(".inputarea:not(.inputareaactive)").hide();
    // Listens for forms to be submitted
    // Makes ajax calls when forms are submitted
    // Makes an exception for dirinput because dirinput needs to change pages
   $("form").submit(function(e){
        e.preventDefault();
        Alertify.log.info("Saving " + current_doc + " block");
        var href = $(this).parent().parent().parent(".inputarea").attr("id");
        $.post($(this).attr("action"), $(this).serialize(), function(data){
            if(data.success){
                Alertify.log.success("Block successfully saved!");                
                if(data.content != ""){
                    if($("[href='#"+href+"']").children('i').length == 0){
                        $("[href='#"+href+"']").append("<i class='icon-ok'></i>");
                    }
                    $("#"+href).find("[name='rawinput']").val(data.content);
                }else{
                    $("[href='#"+href+"']").children("i").remove();
                }
            }else{
                Alertify.log.error(data.error);
            }
        });
        return false;
   });   

   $(".showhide").click(function(e){
        e.preventDefault();
        if ($(this).parent().parent().siblings().is(":hidden")){
            $(this).parent().parent().siblings().slideDown();
            $(this).text("Hide");
        } else {
            $(this).parent().parent().siblings().slideUp();
            $(this).text("Show");
        }
   });
   $("#optoggle").click();
   $("#sidebar a:not(#submit_job, .popup, .showhide, .btn)").click(function(e){
        if($(this).parent("li[class~=disabled]").length == 0){
            e.preventDefault();
            $("form:visible").submit();
            $("#sidebar .active").removeClass("active");
            $(this).parent("li").addClass("active");
            showInputArea($(this).attr("href"));
        }
    });
});

function showInputArea(id){
    $(".inputareaactive").removeClass("inputareaactive").hide();
    current_doc = $(id).attr("id");
    $(id).addClass("inputareaactive").show();
    console.log($(id));
    $(".inputarea:not(.inputareaactive)").hide();
}


</script>
{% endblock head %}

{%block content %}
<div class = "row-fluid">
    <div class = "span2 well" id = "sidebar">
        {% if job_id %}
            <ul id="jobdetails" class = "nav nav-list">
                <li class = "nav-header">Job Details | <small><a class="popup" href="{% url 'tough.views.info_edit' job_id=job.pk %}">Edit</a></small></li>
                    <li><strong>Machine:</strong> {{job.machine|capfirst}}</li>
                    <li><strong>Project:</strong> {{job.project.name|capfirst}}</li>
                    <li><strong>Job Name:</strong> {{job_name|capfirst}}</li>
            </ul>
        {% endif %}
        <ul class = "nav nav-list">
            <li class = "nav-header">Required Information</li>
            <li id = "batchselect" class = "blockchoice active"><a href="#compset" id = "batch" >Computational Settings</a></a>
        </ul>
        <ul id = "reqblocks" class = "nav nav-list">
            <li class = "nav-header" id = "reqblocksheader">Required Blocks | <small class="showhidearea"><a class="showhide" id = "reqtoggle">Hide</a></small></li>
            {% for block in job.get_title_block%}
                <li class="blockchoice"><a href="#{{block.blockType.tough_name}}">{{block.blockType.name|capfirst}}
                    {% if not block.is_empty %} <i class="icon-ok"></i>{% endif %}</a></li>
            {% endfor %}
            {% for block in job.get_req_blocks %}
                <li class="blockchoice"><a href="#{{block.blockType.tough_name}}">{{block.blockType.name|capfirst}}
                    {% if not block.is_empty %} <i class="icon-ok"></i>{% endif %}</a></li>
            {% endfor %}
        </ul>
        <ul id = "opblocks" class="nav nav-list">
            <li class = "nav-header" id = "opblocksheader"> Optional Blocks | <small class="showhidearea"><a class="showhide" id = "optoggle">Show</a></small></li>
            {% for block in job.get_op_blocks %}
                <li class="blockchoice"><a href="#{{block.blockType.tough_name}}">{{block.blockType.name|capfirst}}
                    {% if not block.is_empty %}<i class="icon-ok"></i>{% endif %}</a></li>
            {% endfor %}
        </ul>
        {% if job_id %}
            <a href = "{% url 'tough.views.file_upload_view' job_id=job_id file_type='mesh' %}" id = "upload_MESH" class = "popup btn btn-small btn-primary span10">Upload a MESH File</a>
            <p class="upload-info">
                <strong>Last MESH upload:</strong>
            </p>
            <p>{{mesh_last_uploaded}}</p>
            <a href = "{% url 'tough.views.file_upload_view' job_id=job_id file_type='incon' %}" id = "upload_incon" class = "popup btn btn-small btn-primary span10">Upload an INCON File</a>
            <p class="upload-info">
                <strong>Last INCON upload:</strong>
            </p>
            <p>{{incon_last_uploaded}}</p>
            <a href = "{% url 'tough.views.file_upload_view' job_id=job_id file_type='sinks_sources' %}" id = "upload_incon" class = "popup btn btn-small btn-primary span10" style = "font-size:10px">Upload SINKS&SOURCES</a>
            <p class="upload-info">
                <strong>Last SS upload:</strong>
            </p>
            <p>{{sinks_sources_last_uploaded}}</p>
            <a href = "{% url 'tough.views.file_upload_view' job_id=job_id file_type='infile' %}" id = "upload_input" class = "popup btn btn-small btn-primary span10">Upload an Input File</a>
            <a href="{% url 'tough.views.preview_input' job_id=job_id %}" target="_blank" class="btn btn-small span10">Preview Input File</a>
            <a href = "{% url 'tough.views.ajax_submit' job_id=job_id %}" id="submit_job" class = "btn btn-success btn-large span11">SUBMIT</a>
        {% endif %}
    </div>
    {% if job_id %}
        <div class = "span10 inputarea" id = "compset">
            <h2>Computational Settings</h2>
            {% include "batch_form.html" %}
        </div>
        {% for block in job.get_title_block %}
            {% include "block_input.html" %}
        {% endfor %}
        {% for block in job.get_req_blocks%}
            {% include "block_input.html" %}
        {% endfor %}
        {% for block in job.get_op_blocks%}
            {% include "block_input.html" %}
        {% endfor %}
    {% endif %}
</div>
{% endblock content %}    