<div id="joblist">
	
{% if all_jobs %}
	<table id="alljobs">
		<thead><tr><th>Job Name</th><th>PBS Job Id</th><th>Time Queued</th><th>Status</th><th id="th_actions">Actions</th><th class="hidden"></th></tr></thead>
		<tbody>
			{% for job in all_jobs %}
				{% if job.nova_state == "toberun" %}
				<tr class="toberun"><td><a href="{% url 'tough
.views.view_job' job.id %}">{{ job.jobname }}</a></td><td>-</td><td>-</td><td><a href="{% url 'tough
.views.setup' job.id %}" class="button">Editing</a></td><td class="buttons"><a href="" onclick="show_copy_dialog({{job.id}});return false;">Copy</a> <a href="" onclick="show_move_dialog({{job.id}}, '{{job.jobname}}'); return false;">Move</a> <a href="" onclick="show_del_dialog({{job.id}});return false;">Delete</a> <a href="{% url 'tough
.views.view_job' job.id %}">Details</a></td><td class="hidden">0</td></tr>
				{% endif %}
				{% if job.nova_state == "submitted" %}
				<tr class="submitted"><td><a href="{% url 'tough
.views.view_job' job.id %}">{{ job.jobname }}</a></td><td>{{ job.pbsjobid }}</td><td>{% if job.time_submitted %}{{ job.time_submitted|date:"M j, Y g:i A" }}{% else %}-{% endif %}</td><td>Queued</td><td class="buttons"><a href="" onclick="show_copy_dialog({{job.id}});return false;">Copy</a> <a href="" onclick="show_stop_dialog({{job.id}});return false;">Stop</a> <a href="{% url 'tough
.views.view_job' job.id %}">Details</a></td><td class="hidden">1</td></tr>
				{% endif %}
				{% if job.nova_state == "started" %}
				<tr class="started"><td><a href="{% url 'tough
.views.view_job' job.id %}">{{ job.jobname }}</a></td><td>{{ job.pbsjobid }}</td><td>{% if job.time_submitted %}{{ job.time_submitted|date:"M j, Y g:i A" }}{% else %}-{% endif %}</td><td>Running {% if job.timeuse %}<br />(for {{ job.timeuse }}){% endif %}</td><td class="buttons"><a href="" onclick="show_copy_dialog({{job.id}});return false;">Copy</a> <a href="" onclick="show_stop_dialog({{job.id}});return false;">Stop</a>  <a href="{% url 'tough
.views.view_job' job.id %}">Details</a></td><td class="hidden">2</td></tr>
				{% endif %}
				{% if job.nova_state == "completed" or job.nova_state == "aborted" %}
				<tr class="completed"><td><a href="{% url 'tough
.views.view_job' job.id %}">{{ job.jobname }}</a></td><td>{{ job.pbsjobid }}</td><td>{% if job.time_submitted %}{{ job.time_submitted|date:"M j, Y g:i A" }}{% else %}-{% endif %}</td><td>{{ job.nova_state|capfirst }} {% if job.timeuse %}<br />(in {{ job.timeuse }}){% endif %}</td><td class="buttons"><a href="" onclick="show_copy_dialog({{job.id}});return false;">Copy</a> <a href="" onclick="show_move_dialog({{job.id}}, '{{job.jobname}}');return false;">Move</a> <a href="" onclick="show_del_dialog({{job.id}});return false;">Delete</a> <a href="{% url 'tough
.views.view_job' job.id %}">Details</a></td><td class="hidden">3</td></tr>
				{% endif %}
			{% endfor %}
		</tbody>			
	</table>
	{% else %}
	<p>There are no jobs yet. Try starting a new job or importing one from outside NOVA.</p>
	{% endif %}
</div>	
