{% extends "base.html" %} 

{% block head %}
<script type="text/javascript">
    $(document).ready(function() {
        homedir = "/global/homes/" + "{{user.username}}".charAt('0') + "/" + "{{user.username}}";
        scratchdir = "/global/scratch/sd/" + "{{user.username}}";
        $(".diroptions").click(function(e) {
            e.preventDefault();
            if ($(this).attr("id") == "homedir") {
                $("#jobdir").val(homedir);
            } else {
                $("#jobdir").val(scratchdir);
            }
        });
        $("#dirinput").submit(function(e){
            var values = {};
            $.each($('#dirinput').serializeArray(), function(i, field) {
                values[field.name] = field.value;
            });
            Alertify.log.info("Creating job directory for \"" + values["jobname"] + "\" in \"" + values["jobdir"] + "\"");
            return true;
       });
    });
</script>
{% endblock head %} 

{% block content %}
<div class="row-fluid">
    <div class="span2 well" id="sidebar">
        <ul class="nav nav-list">
            <li class="nav-header">Job Creation</li>
            <li class="active"><a href="#">Directory Setup</a>
            </li>
        </ul>
    </div>
    <div class="span10 inputarea" id="dirsetup">
        <h2>Directory Setup</h2>
        <form action="{% url 'tough.views.create_job'%}" method="POST" id="dirinput">
            {% csrf_token %}
            <input type="hidden" name="setup_type" id="setup_type" value="{{setup_type|default:'new'}}" />
            {% if job_id %}
                <input type="hidden" name="job_id" value="{{job_id}}" />
            {% endif %}
            <div>
                <label for="jobname">What do you want to name this job?</label>
                <input type="text" name="jobname" id="jobname" size="50" />
            </div>
            <div>
                <label for="machine">Which machine should this job run on?</label>
                <select name="machine" id="machine">
                    <option value="hopper" selected="selected">hopper</option>
                    <option value="carver">carver</option>
                </select>
            </div>
            <div class="input-append">
                <label for "jobdir">Where would you like to store this job?</label>
                <input type="text" name="jobdir" id="jobdir" size="50" value="/global/">
                <div class="btn-group">
                    <button class="btn dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" id="dirSelect">
                        <li>
                            <a class='diroptions' href="#" id="homedir">Home Directory</a>
                        </li>
                        <li>
                            <a class='diroptions' href="#" id="scratchdir">Scratch Directory</a>
                            <li>
                    </ul>
                </div>
            </div>
            <div>
                <input class="btn btn-primary" type="submit" />
            </div>
        </form>
    </div>
</div>
{% endblock content %}