{% extends "base.html"%}
{% block head %}
{% endblock head %}
{% block content %}
<div class = "row-fluid">
	<div class = "span2 well">
		<ul class = "nav nav-list">
			<li class="nav-header">Options</li>
		   	<li><a href = "{% url 'tough.views.create_job' 'copy' job.pk%}" id = "copyjob" class = "popup">Copy Job</a></li>
			<li><a href = "{% url 'tough.views.delete_job' job.pk %}" id = "deljob">Delete Job</a></li>
		</ul>
	</div>
	<div class = "span10">
		<h2>{{jobname}}</h2>
		<h2>Job Information</h2>
		<p><b>System: </b>Hopper</p>
		<p><b>Job Directory: </b>{{jobdir}}</p>
		<p><b>Job Status: </b>{{job.nova_state}}</p>
		<p><b>Number of Processors: </b>{{job.numprocs}}</p>
		<h2>Files</h2>
		<table class = "table table-striped">
			<thead>
				<tr>
					<th>File Name</th>
					<th>Size</th>
				</tr>
			</thead>
			<tr>
				<td><a href = "{% url 'tough.views.get_file' job_id=job_id filename='OUTPUT' %}">{{jobname}} Output</a></td>
				<td>Downloadable file</td>
			</tr>
			<tr>
				<td><a href = "{% url 'tough.views.get_file' job_id=job_id filename='zip' %}">{{jobname}} Outputs ZIP</a></td>
				<td>Downloadable file</td>
			</tr>
			<tr>
				<td><a href = "{% url 'tough.views.get_file' job_id=job_id filename=job.jobname %}">{{jobname}} Input</a></td>
				<td>Downloadable file</td>
			</tr>
			<tr>
				<td><a>MESH File</a></td>
				<td>Downloadable file</td>
			</tr>
		</table>
	</div>
</div>
{% endblock %}
