{% extends "base.html"%}
{% block head %}
<link rel="stylesheet" type="text/css" href="/static/css/jquery-ui-1.10.3.custom.min.css">
<script type="text/javascript" src="/static/js/jquery-ui-1.10.3.custom.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	$("#copyBox").dialog({
                autoOpen: false,
                width:400,
                position: {my:"top", at:"center", of:$(".container")},
    });
	$("#copyjob").click(function(e){
		e.preventDefault();
		$("#copyBox").load($(this).attr("href"), function(){
           $("#copyBox").dialog("open");                    
        });
	});
});
</script>
{% endblock head %}
{% block content %}
<div class = "span 10" style="margin-left:20px">
	<h2>{{jobname}}</h2>
	<h2>Job Information</h2>
	<p><b>System: </b>Hopper</p>
	<p><b>Job Directory: </b>{{jobdir}}</p>
	<p><b>Job Status: </b>{{job.nova_state}}</p>
	<p><b>Number of Processors: </b>{{job.numprocs}}</p>
	<h2>Files</h2>
	<table class = "table table-striped">
		<thead>
			<tr>
				<th>File Name</th>
				<th>Size</th>
			</tr>
		</thead>
		<tr>
			<td><a href = "{% url 'tough.views.get_file' job_id=job_id filename='OUTPUT' %}">{{jobname}} Output</a></td>
			<td>Downloadable file</td>
		</tr>
		<tr>
			<td><a href = "{% url 'tough.views.get_file' job_id=job_id filename=job.jobname %}">{{jobname}} Input</a></td>
			<td>Downloadable file</td>
		</tr>
		<tr>
			<td><a>MESH File</a></td>
			<td>Downloadable file</td>
		</tr>
	</table>
</div>
<div class = "row-fluid">
	<div class = "span2 well" id = "sidebar">
		<a href = "{% url 'tough.views.create_job' 'copy' job.pk%}" id = "copyjob" class = "popup btn btn-small btn-primary span10" style="margin: 10px">Copy Job</a>
		<a href = "{% url 'tough.views.delete_job' job.pk %}" id = "deljob" class = "btn btn-danger span10" style="margin:10px">Delete Job</a>
	</div>
</div>
<div id = "copyBox">
</div>

{% endblock %}
