{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" type="text/css" href="/static/css/jquery-ui-1.10.3.custom.min.css">
<script type="text/javascript" src="/static/js/jquery-ui-1.10.3.custom.min.js"></script>
<style type="text/css"> 
</style>
<script type"text/javascript">
    $(document).ready(function(){
        $("#projecteditbox").dialog({
        autoOpen: false,
        width:400,
        position: {my:"top", at:"top", of:$(".container")},
        });
        $(".popup").click(function(e){
            e.preventDefault();
            $("#projecteditbox").load($(this).attr("href"), function(){
            $("#projecteditbox").dialog("open");   
            $(".closedialog").click(function(e){
                e.preventDefault();
                $("#projecteditbox").dialog("close");
                return false;
            });                 
        });
        return false;
        })
    });
</script>
{% endblock head %}
{% block content %}
    <div class = "row-fluid">
        <div class = "span2 well">
            <ul class = "nav nav-list">
                <li class="nav-header">Options</li>
                <li><a href="{% url 'tough.views.edit_project' project_id=project.pk %}" class = "popup btn btn-small btn-primary span10" >Edit Information</a></li>
                <li><a href="#">Delete Project</a></li>
            </ul>
        </div>
        <div class = "span10">
            <h1>{{name}}</h1>
            <h3>Project Information</h3>
            <p><strong>Project Creator: </strong> {{project.creator}}</p>
            <p><strong>Users: </strong>
                {% for user in project.users.all %}
                    {{user}}, 
                {% endfor %}
            </p>
            <p><strong>Project Description: </strong>{{project.description}}</p>
            <h2>Jobs in Project:</h2>
            <table class = "table table-striped">
                <thead>
                    <tr>
                        <th>Job Name</th>
                        <th>Processors</th>
                        <th>PBS Job ID</th>
                        <th>Time Queued</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for job in project.job_set.all %}
                            <tr>
                                <td class="name"><a href="{% url 'tough.views.job_edit' job.pk %}">{{job.jobname}}</a></td>
                                <td class="numprocs">{{job.numprocs}}</td>
                                <td class="job_id">{{job.pbsjob_id}}</td>
                                <td class="time">{{job.time_started}}</td>
                                <td class="state">{{job.nova_state}}</td>
                                <td>
                                    <div class="btn-group">
                                        <a href="{% url 'tough.views.create_job' 'copy' job.pk %}" class="btn cp popup">Copy</a>
                                        <a href="{% url 'tough.views.create_job' 'move' job.pk %}" class="btn mv popup">Move</a>
                                        <a href="{% url 'tough.views.delete_job' job.pk %}" class="btn del">Delete</a>
                                        <a href = "{% url 'tough.views.job_view' job_id=job.pk %}" class="btn">Details</a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div id = "projecteditbox">
    </div>
{% endblock %}